nav {
    background-color: rgb(172, 172, 85);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 20px;
    font-family: cursive;
  }
  body {
    background-image: url('https://images.theconversation.com/files/165805/original/image-20170419-6349-dvyy26.jpg?ixlib=rb-4.1.0&rect=0%2C269%2C1024%2C496&q=45&auto=format&w=1356&h=668&fit=crop');
    background-size: cover;
    position: relative;
  h1 {
    text-align: center;
    font-size: 60px;
    font-family: cursive;
    color: aliceblue;
  }

#imageContainer {
    margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
#imageContainer img {
   width: 300px;
    height: auto;
    border-radius: 50%;