h1 {
  color: aliceblue;
  text-align: center;
  font-size: 60px;
  font-family: cursive;
}

nav {
  background-color: #fcf2f2;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  justify-content: space-evenly;
  padding: 10px 20px;
  font-family: cursive;
  
}

body {
    background-image: url('https://images.wallpaperscraft.ru/image/single/planety_galaktika_zvezdy_146448_3840x2160.jpg');
    background-size: cover;
    position: relative;

.container {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.text-box {
  flex: 2; /* As I understand it helps me to use 2/3parts of the page  GPT helped withthis*/
  margin-right: 200px; /* space between text and img */
  width: 50%;
  font-size: 20px;
  text-align: center;
  font-family: cursive;
  color: aliceblue;
}

.image-container {
  display: flex; 
  flex-direction: column; 
  justify-content: space-around;
  flex: 1; 
  width: 40%;
}

.image-container img {
  width: 300px; 
  height: auto; 
  margin-bottom: 100px; 
}
img:hover {
  transform: scale(1.4);
  filter: brightness(1.2);}
  

  .positioned {
    background-color: rgb(12, 21, 29);
    position: absolute;
    color: antiquewhite;
    font-family: cursive;
    bottom: 10px;
    right: 10px;
  }
  .styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(
      to top left,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2) 30%,
      rgba(0, 0, 0, 0)
    );
    box-shadow:
      inset 2px 2px 3px rgba(255, 255, 255, 0.6),
      inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  }
  
  .styled:hover {
    background-color: rgba(255, 0, 0, 1);
  }
  
  .styled:active {
    box-shadow:
      inset -2px -2px 3px rgba(255, 255, 255, 0.6),
      inset 2px 2px 3px rgba(0, 0, 0, 0.6);
  }
  